/* @use "../utils/mixin";
@use "../utils/variables" as v; */

@use "../utils" as fwd;

.badge {
  @include fwd.badge-base();

  color: fwd.$badge-cl;
}

.badge-completed {
  background-color: fwd.$completed;
}

.badge-ended {
  background-color: fwd.$ended;
}

.badge-active {
  background-color: fwd.$active;
}
